<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005203602163-693v83tbtv9ri6t6s4jipjj2lupj26ej.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005203602163-693v83tbtv9ri6t6s4jipjj2lupj26ej</string>
	<key>API_KEY</key>
	<string>AIzaSyAAD42jZD6eTti3xUH659eWzld9S-6XV9E</string>
	<key>GCM_SENDER_ID</key>
	<string>1005203602163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myFirstApp</string>
	<key>PROJECT_ID</key>
	<string>flutterapp-51a9a</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterapp-51a9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005203602163:ios:b5525e11bde93b6b1e9586</string>
</dict>
</plist>